<?xml version="1.0" ?>
<config>

    <modules>
        <TestApp_FooterRewrite>
            <version>0.0.1</version>
        </TestApp_FooterRewrite>
    </modules>

    <frontend>

        <layout>
            <updates>
                <testappfooterrewrite module="TestApp_FooterRewrite">
                    <file>TestApp_FooterRewrite.xml</file>
                </testappfooterrewrite>
            </updates>
        </layout>

        <routers>
            <testappfooterrewrite>
                <use>standard</use>
                <args>
                    <module>TestApp_FooterRewrite</module>
                    <frontName>testappfooterrewrite</frontName>
                </args>
            </testappfooterrewrite>
        </routers>
        
    </frontend>

</config>